@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';
// COLORS

$navbarcolor: #121212;
$primary-color: #10d8f9;
$secondary-color: #fec44f;
$background-color: #ccd0d5;